snowflake-connector-python
snowflake-snowpark-python
pandas
numpy
datetime
fastapi
uvicorn[standard]
litellm
sqlalchemy
snowflake-sqlalchemy
pydantic
pydantic_settings
crewai-tools>=0.0.1
crewai>=0.28.0